* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.flex {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    height: 180px;
}

#intro {
    font-size: 2rem;
}

body {
    width: 50%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.heading {
    font-size: 3rem;
    padding: 2rem;
}

.box {
    border: solid 0.1rem grey;
    padding: 3rem;
}

.selection {
    font-size: 6rem;
    cursor: pointer;
}

#player-choice {
    font-size: 8rem;
}

#computer-choice {
    font-size: 8rem;
}

#restart-btn {}