* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h5,
p {
    color: #F2E9E4;
}

.flex {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    height: 180px;
}

#intro {
    font-size: 2rem;
}

body {
    background-color: #1B312D;
    width: 50%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.heading {
    font-size: 3rem;
    padding: 2rem;
}

.box {
    background-color: #32494F;
    padding: 2rem;
}

.selection {
    background: none;
    background: #e2c7b9;
    border-radius: 5px;
    font-size: 6rem;
    cursor: pointer;
}

#player-choice {
    font-size: 8rem;
}

#computer-choice {
    font-size: 8rem;
}

.score-area {
    margin-top: 3rem;
}

.footer-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

#restart-btn,
#rules-btn {
    background: none;
    border: none;
    background: #e2c7b9;
    border-radius: 5px;
    width: 8rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}