* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h5,
p {
    color: rgb(220, 220, 220);
}

.flex {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    height: 180px;
}

#intro {
    font-size: 2rem;
}

body {
    background-color: #282B31;
    width: 50%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.heading {
    font-size: 3rem;
    padding: 2rem;
}

.box {
    background-color: #32494F;
    padding: 2rem;
    border: 0.5px solid rgb(220, 220, 220);
    border-radius: 5px;
}

.selection {
    background: none;
    background: rgb(220, 220, 220);
    border: 5px rgb(220, 220, 220);
    border-radius: 5px;
    color: rgb(220, 220, 220);
    font-size: 6rem;
    margin: 0.2rem;
    cursor: pointer;
}

.selection:hover {
    transform: scale(1.1);
}

#player-choice {
    font-size: 8rem;
}

#computer-choice {
    font-size: 8rem;
}

.scores {
    font-size: 1.5rem;
}

.score-area {
    margin-top: 2.5rem;
}

.footer-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

#restart-btn,
#rules-btn {
    background: none;
    border: none;
    background: #32494F;
    color: rgb(220, 220, 220);
    border-radius: 5px;
    width: 8rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

#restart-btn:hover {
    transform: scale(1.1);
}

#rules-btn:hover {
    transform: scale(1.1);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #32494F;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgb(220, 220, 220);
    width: 60%;
}

.close {
    color: rgb(220, 220, 220);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}